.top-bar {
    background-color: var(--txt-block-color-04);
    color: var(--txt-block-color-02);
    width: 100%;
    text-align: justify;
    height: fit-content;
    padding-bottom: 2vh;

}

#starter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4vh;
}

.subhead {
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin-top: 12vh;
}

.subhead h1 {
    margin-bottom: 3vh;
    margin-right: 9vw;
}

#text-box-1 {
    background-color: var(--txt-block-color-02) ;
    width: 58vw;
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 8rem;

}

.sidebar {
    display: flex;
    flex-direction: row;
    background-color: var(--txt-block-color-03);
    width: fit-content;
    height: 54vh;
    padding: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 12vh;
}
.sidebar h3 {line-height: 2.5;}

.navbar {line-height: 3;}

.divider {
    width: 58vw;
    height: 0.5vh;
    background: var(--txt-color-01);
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.divider#d2 {width: 68vw;}

.divider2 {
    width: 0.25vw;
    height: 36vh;
    background: var(--txt-color-01);
    margin: 2vw;
}
.divider2#navbar {
    width: 4vw;
    height: 54vh;
    background-color: var(--txt-block-color-02);
    align-self: flex-start;
}

#s1.inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#img1 {margin-left: 2vw;}

#text-block-1 {
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin-top: -60vh;
}

#s1 h3 {
    background-color: var(--txt-block-color-03);
    width: fit-content;
    padding: 0.5rem;
    justify-self: right;
    z-index: 2;
    margin-bottom: -3vh;
    margin-left: 32vw;
}

#text-box-2 {
    text-align: end;
    background-color: var(--txt-block-color-01);
    width: 58vw;
    padding-right: 6rem;
    padding-top: 4rem;
    padding-bottom: 14rem;
    padding-left: 6rem;

}


#text-box-3 {
    text-align: end;
    background-color: var(--txt-block-color-02);
    width: 40vw;
    border-color: var(--txt-color-01);
    border-width: 0.5vw;
    padding: 4rem;
    margin-top: -32vh;
    margin-left: -8vw;

}

#text-box-4 {
    background-color: var(--txt-block-color-01);
    width: 68vw;
    padding: 8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.meme {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#m1 {justify-self: end;}
#m3 {justify-self: center;}

#meme-1 {
    width: 28vw;
    text-align: right;
}
#meme-2 {
    width: 32vw;
}
#meme-3 {
    width: 24vw;
    text-align: right;
}


#f1 {
    background-color: var(--txt-block-color-01);
    width: 58vw;
    padding: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 6vh;

}

#f2 {
    background-color: var(--txt-block-color-02);
    width: 58vw;
    padding: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 16vh;
}